.erreur_404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // Ajoutez une image de fond
  background-image: url("images/maldives.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  min-height: 80vh;

  &_titre {
    text-align: center;
    background-color: $couleur__gris__boite;
    padding: 1rem;
    border-radius: 1rem;
  }

  &_texte {
    font-size: 1.2rem;
    width: 70%;
    text-align: center;
    background-color: $couleur__gris__boite;
    padding: 1rem;
    border-radius: 1rem;
  }

  &_menu {
    .menu { // ul
      display : flex;
      @media screen and (max-width: 800px) {
          flex-direction: column;
          gap: 40px;
          padding-bottom: 2rem;
      }
      flex-direction: row;
      list-style-type: none;
      align-items: center;
      padding: 0;
      padding-top: 2rem;
      margin: 0;
      gap : 20px;
      &-item{ // li
  
        a { //a
          text-decoration : none;
          color: $couleur__noir__primaire;
          font-size: 1.2rem;
          padding: .8rem;
          border-radius: 1rem;
          background-color: $couleur__jaune__primaire;
          transition: 0.3s ease;
        } 

        a:hover {
          padding: 1.4rem;
          background-color: $couleur__orange__hover;
        }
      }
    }
  }
}

.bouton_acceuil {
  font-size: 25px;
  background-color: $couleur__noir__primaire;
  padding: 1rem;
  border-radius: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease; 

  a {
    text-decoration: none;
    color: $couleur__blanc__primaire;
    transition: color 0.3s ease; 
  }

  &:hover {
    background-color: $couleur__blanc__primaire;
    transform: scale(1.05); 
  }

  &:hover a {
    color: $couleur__noir__primaire; 
  }
}



