.erreur_404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.erreur_barre {
  font-size: 40px;
}

.bouton_acceuil {
  font-size: 25px;
  background-color: black;
  padding: 1rem;
  border-radius: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease; // Ajout de la transition

  a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease; // Transition pour la couleur du texte
  }

  &:hover {
    background-color: white;
    transform: scale(1.05); // Légère mise en avant au survol
  }

  &:hover a {
    color: black;
  }
}



