.erreur_404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.erreur_barre {
  font-size: 40px;
}

.bouton_acceuil {
  font-size: 25px;
  background-color: black;
}

.bouton_acceuil a {
  text-decoration: none;
  color: white;
}

.bouton_acceuil:hover {
  color: black;
  background-color: white;
}



