/*
  --------------------------------- Layout de l'entete
*/
.entete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__navigation {
        @media screen and (max-width: 800px) {
            position : absolute;
            top: 0;
            right:0;
            padding-top : 4rem;
            flex-direction: column; 
            width : 100vw;
        } 
        width : auto;
        flex-direction: row; 
        background-color: transparent;
        display: flex;
        align-items: center;                     
    }

    .custom-logo {
        max-width: 150px;
        height: auto;
        }
}