/*
  --------------------------------- Layout de l'entete
*/
.entete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0000004f;
    
    &__navigation {
        @media screen and (max-width: 800px) {
            position : absolute;
            top: 0;
            right:0;
            padding-top : 4rem;
            flex-direction: column; 
            width : 100vw;
            background-color: $couleur__gris__boite;
            margin-right: 0;
        } 
        width : auto;
        flex-direction: row; 
        display: flex;
        align-items: center;
        margin-right: 2rem;
        gap: 2rem;
    }
}

.custom-logo {
    max-width: 150px;
    height: auto;
}

:where(figure) {
    margin: 0;
}