.section__formulaire {
    display: flex;
    justify-content: center;
    position: relative;
    top: -2rem
}
.conteneur__formulaire {
    display: inline-flex;
    align-items: end;
    justify-content: center;
    gap: .5rem;
    background-color: white;
    box-shadow: 2px 2px 3px grey;
    padding: 1rem;
}

.formulaire p {
    margin: 0;
}

.formulaire__input {
    border: 1.5px solid cyan;
}

