.global{
    max-width: 1100px;
    padding: 10vh 5vw;
    
}

.populaire .global {
    display: flex;
    flex-wrap: wrap;
}

body {
    background: linear-gradient(180deg, #e4e4e4, #FF6B5C, #C0392B, #571845);
    background-size: 300% 300%;
    animation: animGradient 15s ease infinite alternate;
}

@keyframes animGradient {
    0% { background-position: 0% 0%; }
    100% { background-position: 0% 100%; }
}



