/*
  --------------------------------- Layout du site
*/
.global{
    padding: 10vh 5vw;
}

.populaire .global {
    display: flex;
    flex-wrap: wrap;
}

body {
    background-color: $couleur__noir__primaire;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

@keyframes gradient-move {
    0% {
        background-position: 100% 0; 
    }
    100% {
        background-position: 0 0; 
    }
}





