/*
  --------------------------------- Layout de la section hero
*/
.hero{
    // background-image: url("images/maldives.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    min-height: 100vh;
   &__radio {
       position : absolute;
       width : 100%;
       bottom: 0;
       display: flex;
       justify-content: center;
       gap : 2rem;
      }


   &__contenu {
       z-index : 9;
   }
}

.hero__icone {
    display: flex;
    gap: 15px;
}

.hero__contenu {
  display: inline-block;
  background-color: $couleur__gris__boite;
  padding: 1rem;
  margin: 10vh 5vw;
  border-radius: 2rem;
}

.hero__cta {
  border: 3px solid $couleur__jaune__primaire;
  background-color: $couleur__gris__primaire;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  padding: .7rem;
  border-radius: 1.5rem;
}