/*
  --------------------------------- Variables de couleurs
*/
$couleur__jaune__primaire: #FBAE3C;
$couleur__orange__hover: #F6801B;
$couleur__orange__secondaire: #d18213;

$couleur__noir__primaire: #001220;
$couleur__gris__primaire: #ede9e2;
$couleur__gris__boite: rgba(182, 182, 182, 0.7);
$couleur__blanc__primaire: #FFF8E7;


