/*
  --------------------------------- Variables de couleurs
*/
$couleur__jaune__primaire: #FBAE3C;
$couleur__orange__hover: #F6801B;
$couleur__orange__secondaire: #d18213;

$couleur__noir__primaire: #001220;
$couleur__gris__boite_plein: rgba(187, 27, 27, 0.547);;
$couleur__gris__boite: rgba(255, 255, 255, 0.322);
$couleur__blanc__primaire: #FFF8E7;


