/* 
Bouton catégories
*/
.categorie__ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
  &__li {
    padding: .8rem;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: white;
  }
}

.destination {
  &__list h3 {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

.destination .bouton {
  background-color: red;
  padding: .6rem;
}

.destination {
  &__list p {
    background-color: greenyellow;
    padding: .6rem;
  }
}

.destination {
  &__list a {
    background-color: yellow;
    padding: .6rem;
  }
}
  