/*
  --------------------------------- Layout de la barre de recherche
*/
.recherche{
    display:flex;
    border: 3px solid $couleur__jaune__primaire;

// le & prend la valeur du sélecteur parent 
    &__input{
        border : none;
        outline: none;
        background-color: transparent;
        padding : .5rem;
        color: $couleur__blanc__primaire;
        &:hover{
            background-color: rgba(0,0,0, .05); 
        }
        &::placeholder{
            color: $couleur__blanc__primaire;
            font-style : italic;
        }

    }
    
    &__img{
        flex: 0 0 20px; 
        padding : 3px;
    }
}