.svg-container {
  --svg-height: 400px;

  .svg-vague {
    height: var(--svg-height);
    fill: var(--svg-color);
    width: 100%;
    display: block;
  }
}

.svg-flip {
  transform: scaleY(-1);
}

.svg-vague rect {
  fill: $couleur__noir__primaire;
}

.svg-vague path {
  transform-origin: center bottom;
  fill: var(--svg-color);
  animation: onde 5s ease-in-out infinite;
}

@keyframes onde {
  0%, 100% { transform: scaleY(1); }
  50% { transform: scaleY(1.5); }
}
