/*
  --------------------------------- Règles de style de base ---------------------------------
*/
* {
    box-sizing: border-box;
}

body{
    font-size : 16px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 500;
}


h1{
    font-size: clamp(2rem, 3vw, 5rem);
    font-weight: 700;
}
h2{
    font-size: clamp(1.5rem, 2.5vw, 3rem);
}
h3{
    font-size: clamp(1rem, 2.3vw, 2rem);
}
h4{
    font-size: clamp(0.9rem, 2vw, 1.5rem);
}
h5{
    font-size: clamp(0.9rem, 2vw, 1.3rem);
}
h6{
    font-size: clamp(0.8rem, 1.7vw, 1.2rem);
}
p{
    font-size: clamp(.8rem, 1.7vw, 1rem);
}
div{
    font-size: clamp(.8rem, 1.7vw, 1rem);
}

